{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


     <div class="container bootstrap snippets bootdey">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="#">&nbsp;</a></li>
            </ul>
            <h3 class="text-muted prj-name">RealTime Chat Application</h3>
        </div>


        <div style="height:auto;min-height:300px;" class="jumbotron">

            <div class="col-md-4">
                <img class="img-responsive center-block img-user" src="https://img.icons8.com/wired/64/000000/speech-bubble-with-dots.png">
            </div>
            <div class="col-md-6 form-content">

                {{ form_start(loginForm, {attr: {class: "form-signin"}}) }}
                {{ form_row(loginForm.username) }}
                {{ form_row(loginForm.password) }}
                {{ form_row(loginForm.login) }}
                {{ form_end(loginForm) }}

            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="container bootstrap snippets bootdey">
            <footer class="footer">
                <p>&copy; Christopher Sabaoth [Wren Kitchens] </p>
            </footer>
        </div>
    </div>






{% endblock %}
