{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {% if app.user %}
                <a class="navbar-brand" href="#">Welcome {{ app.user.username  }}</a>
                <div id="user" style="display: none;">{{ app.user.username }}</div>
                <div id="receiver" style="display: none;"></div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav">
                    {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container p-0">

            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>

                        {% for user in users %}
                             {%  if user.username != app.user.username %}
                             <a id="contact-profile"  onclick="loadSelectedChat(this)"  class="contact-profile list-group-item list-group-item-action border-0" >
                                <div class="d-flex align-items-start">
                                    <img src="https://img.icons8.com/ultraviolet/90/000000/gender-neutral-user.png" class="rounded-circle mr-1"  width="40" height="40">
                                    <div class="contactName" id="contactName" class="flex-grow-1 ml-3">

                                        {{ user.username }}

                                    </div>

                                </div>
                             </a>
                                 <div hidden id="unread-messages"> &#8679; &#9993; &#8679; new messages</div>

                        {% endif  %}
                        {% endfor %}

                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div hidden id="chat-section" class="col-12 col-lg-7 col-xl-3">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="https://img.icons8.com/ultraviolet/90/000000/gender-neutral-user.png" class="rounded-circle mr-1" width="40" height="40">
                                </div>

                                {# ------ Other User ----   #}
                                <div id="currentChatUserName"  class="flex-grow-1 pl-3">

                                </div>
                                {# ------ Other User ----   <strong id="currentChatUserName"></strong> #}

                            </div>

                        </div>

                        {# ------ Chat Messages ----   #}
                        <div class="position-relative">
                            <div class="chat-messages p-4">

                                <div id ="new-message" class="chat-message-right pb-4">

                                </div>
                                <div id ="new-attachment" class="chat-message-right pb-4">

                                </div>

                                <div class="chat-message-left pb-4">

                                </div>

                            </div>
                        </div>

                        <ul id="messages"></ul>

                        {# ------ Send Messages ----   #}
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            {{ form_start(chatForm, {attr: {id: "form"}}) }}
                                {{ form_row(chatForm.attachment) }}
                                {{ form_row(chatForm.message) }}
                                <button id="form-submit" type="button" class="btn btn-primary">Send Message</button>
                            {{ form_end(chatForm) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/messaging.js') }}"></script>
{% endblock %}