{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block body %}

    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {% if app.user %}
            <a class="navbar-brand" href="#">Welcome {{ app.user.username  }}</a>
                <div id="user" style="display: none;">{{ app.user.username }}</div>
                <div id="receiver" style="display: none;"></div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>

    <main class="content">
        <div class="container p-0">

            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search...">
                                </div>
                            </div>
                        </div>


                        {% for user in users %}
                             {%  if user.username != app.user.username %}
                             <a id="contact-profile"  onclick="loadSelectedChat(this)"  class="contact-profile list-group-item list-group-item-action border-0" >
                                <div class="d-flex align-items-start">
                                    <img src="https://img.icons8.com/ultraviolet/90/000000/gender-neutral-user.png" class="rounded-circle mr-1"  width="40" height="40">
                                    <div class="contactName" id="contactName" class="flex-grow-1 ml-3">

                                        {{ user.username }}

                                    </div>

                                </div>
                             </a>
                                 <div hidden id="unread-messages"> &#8679; &#9993; &#8679; new messages</div>

                        {% endif  %}
                        {% endfor %}


                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div hidden id="chat-section" class="col-12 col-lg-7 col-xl-3">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="https://img.icons8.com/ultraviolet/90/000000/gender-neutral-user.png" class="rounded-circle mr-1" width="40" height="40">
                                </div>

                                {# ------ Other User ----   #}
                                <div id="currentChatUserName"  class="flex-grow-1 pl-3">


                                </div>
                                {# ------ Other User ----   <strong id="currentChatUserName"></strong> #}

                            </div>

                        </div>

                        {# ------ Chat Messages ----   #}
                        <div class="position-relative">
                            <div class="chat-messages p-4">

                                <div id ="new-message" class="chat-message-right pb-4">

                                </div>
                                <div id ="new-attachment" class="chat-message-right pb-4">

                                </div>

                                <div class="chat-message-left pb-4">

                                </div>

                            </div>
                        </div>

                        <ul id="messages"></ul>

                        {# ------ Send Messages ----   #}
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            {{ form_start(chatForm, {attr: {id: "form"}}) }}
                                {{ form_row(chatForm.attachment) }}
                                {{ form_row(chatForm.message) }}
                                <button id="form-submit" type="button" class="btn btn-primary">Send Message</button>
                            {{ form_end(chatForm) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

        let currentChatUserName = document.getElementById('currentChatUserName');
        let chatSection = document.getElementById('chat-section');
        let newMessageArea = document.getElementById('new-message');
        let newAttachmentArea = document.getElementById('new-attachment');
        let contacts = document.getElementsByClassName('contactName');
        let UnreadMessagesArea = document.getElementById('unread-messages');
        let contactProfile = document.getElementsByClassName('contact-profile');
        let loggedInUser = document.getElementById('user');

        // -----  AJAX To Load Unread Messages For Each Contact -----  //
        setInterval( ()=>

                $.ajax({
                    method: 'GET',
                    url: '/chat_home/check_if_unread_messages/' + loggedInUser.innerText,
                    success: function(data){

                        displayUnreadMessages(data);

                    },
                    error: function(){
                        alert('error receiving data');
                    },

                })


             , 7000);


        function displayUnreadMessages(data){

            let usersWithUnreadMessages = [];

            for(let key in data){


                if(data[key]['read'] === 'false'){

                    usersWithUnreadMessages.push(data[key]['receiver']);
                }

            }


            for(let i = 0; i < contacts.length; i++) {

                if (usersWithUnreadMessages.includes(contacts[i].innerText)) {

                    contactProfile[i].nextElementSibling.removeAttribute("hidden");


                }

            }


        }

        
        // -----  AJAX To Load User Messages FROM API EndPoint -----  //
        function loadSelectedChat(e){

           e.nextElementSibling.style.display = "none";

            currentChatUserName.innerHTML = e.innerText;

            chatSection.removeAttribute("hidden");

            getMessagesFromDatabase();

            setInterval( ()=> getMessagesFromDatabase() , 5000);

            return false;

        }

        function getMessagesFromDatabase(){

            let receiverTemp = currentChatUserName.innerText;

            $.ajax({
                method: 'GET',
                url: '/chat_home/new_message/' + receiverTemp,
                success: function(data){

                    displayMessages(data);
                },
                error: function(){
                    alert('error receiving message');
                }
            })
        }


        function displayMessages(data){

            let message = '';

            for(let key in data)
            {

                const time = new Date(data[key]['time']).toLocaleTimeString();
                const date = new Date(data[key]['time']).toLocaleDateString();

                //If attachments exits, Send Message HTML with Attachment HTML
                if(data[key]['attachments']){

                 message += '  <div>\n' +
                    '        </div>\n' +
                    '        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">\n' +
                    '            <div class="font-weight-bold mb-1">' + data[key]['sender'] + '</div>\n' +
                    '        ' + data[key]['message'] + '\n' +
                     '          <div class="text-muted small text-nowrap mt-2">' + time + '</div>\n' +
                    '        </div>';

                    for( let attachmentKey in data[key]['attachments']){

                        message +=  "<a href='"+data[key]['attachments'][attachmentKey]['signedUrl']+"'>Download: "+data[key]['attachments'][attachmentKey]['originalFileName'] +" </a>";
                    }


                 }else{

                    message += '  <div>\n' +
                        '        </div>\n' +
                        '        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">\n' +
                        '            <div class="font-weight-bold mb-1">' + data[key]['sender'] + '</div>\n' +
                        '        ' + data[key]['message'] + '\n' +
                        '         <div class="text-muted small text-nowrap mt-2">' + time + '</div>\n' +
                        '        </div>';

                }

            }

            newMessageArea.innerHTML = message;

        }

        // ----- AJAX To POST User Message TO API EndPoint -----  //
        $(function () {

            $(document).on('click', '#form-submit', function(e) {

                //This is the selected User who the message is being sent TO
                let contact = $('#currentChatUserName')[0].innerText;

                e.preventDefault();

                let formElement = $('#form');
                let formData = new FormData(formElement[0]);

                $.ajax({
                    method: 'POST',
                    url: '/chat_home/' + contact,
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(){
                        //alert('message sent');
                        console.log('message sent');

                        $('#chat_form_message').val('');

                        $('#chat_form_attachment').val('');

                    },
                    error: function(){
                        alert('error sending message');
                    }

                })

            });

        });

    </script>

{% endblock %}


